<%= form_for(@shop, html: {multipart: true}) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :site_url %>
    <%= f.text_field :site_url %>
  </div>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows:3 %>
  </div>
  <div>
    <strong>Insider Tip:</strong>
    <%= f.check_box :insider_tip %>Insider Tip
  </div>  
  <div>
    <strong>Price Segment:</strong>
    <%= f.check_box :price_segment_low %>€
    <%= f.check_box :price_segment_middle %>€€
    <%= f.check_box :price_segment_high %>€€€
  </div>
  <div>
    <strong>Locale:</strong>
    <%= f.check_box :locale_de_shop %>de
    <%= f.check_box :locale_foreign_shop_de_website %>de_site
    <%= f.check_box :locale_foreign_shop_de_delivery %>de_delivery
  </div>
  <div>
    <strong>Brand Type:</strong>
    <%= f.check_box :brand_type_single %>Single
    <%= f.check_box :brand_type_multi %>Multi
  </div>
  <div>
    <strong>Shop Type:</strong>
    <%= f.check_box :shop_type_women_fashion %>Women
    <%= f.check_box :shop_type_men_fashion %>Men
    <%= f.check_box :shop_type_interior_design %>Interior
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
