<%= form_for(@shop, html: {multipart: true}) do |f| %>
  <%= f.error_messages %>
<!--   <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h1>
      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 -->
  <table>
    <tr class="field">
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    
    <tr class="field">
      <td class="field">
        <%= f.label :site_url %>
      </td>
      <td>
        <%= f.url_field :site_url %>
      </td>
    </tr>

    <tr class="field">
      <td>
        <%= f.label "Image from File" %>
      </td>
      <td>
        <%= f.file_field :image %><br>
      </td>
    </tr>

    <tr class="field">
      <td>
        <%= f.label "Image from Web" %>
      </td>
      <td>
        <%= f.url_field :remote_image_url %>
      </td>
    </tr>
    
    <tr class="field">
      <td>
        <%= f.label :comment %>
      </td>
      <td>
        <%= f.text_area :comment, rows:3 %>
      </td>
    </tr>

    <tr class="field">
      <td>
        <p>Insider Tip:</p>
      </td>
      <td>
        <%= f.check_box :insider_tip %>Insider Tip
      </td>
    </tr>

    <tr class="field">
      <td>
        <p>Price Segment:</p>
      </td>
      <td>
        <%= f.check_box :price_segment_low %>€
        <%= f.check_box :price_segment_middle %>€€
        <%= f.check_box :price_segment_high %>€€€
      </td>
    </tr>

    <tr class="field">
      <td>
        <p>Locale:</p>
      </td>
      <td>
        <%= f.check_box :locale_de_shop %>de
        <%= f.check_box :locale_foreign_shop_de_website %>de_site
        <%= f.check_box :locale_foreign_shop_de_delivery %>de_delivery
      </td>
    </tr>

    <tr class="field">
      <td>
        <p>Brand Type:</p>
      </td>
      <td>
        <%= f.check_box :brand_type_single %>Single
        <%= f.check_box :brand_type_multi %>Multi
      </td>
    </tr>


    <tr class="field">
      <td>
        <p>Shop Type:</p>
      </td>
      <td>
        <%= f.check_box :shop_type_women_fashion %>Women
        <%= f.check_box :shop_type_men_fashion %>Men
        <%= f.check_box :shop_type_interior_design %>Interior
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>  

<% end %>
