<!-- FILTER -->
<%= form_tag url_for(:controller => 'bss', :action => 'update_shop_filter'), :method => 'get' do %>

<section class="filter">
  <ul>
    
    <li class="price">
      <div id="dropdown_price" class="wrapper-dropdown">
        <span>Preissegmente</span>        
        <ul class="dropdown">           

          <li>
              <%= hidden_field_tag "shop_filter_settings[price_segment_low]", false %>
              <%= check_box_tag "shop_filter_settings[price_segment_low]", true, params[:shop_filter_settings][:price_segment_low] %>
              €
              <i class="fa fa-eur"></i>
              <i class="fa fa-eur inactive"></i>
              <i class="fa fa-eur inactive"></i>
          </li>

          <li>
              <%= hidden_field_tag "shop_filter_settings[price_segment_middle]", false %>
              <%= check_box_tag "shop_filter_settings[price_segment_middle]", true, params[:shop_filter_settings][:price_segment_middle] %>
              €€
              <i class="fa fa-eur"></i>
              <i class="fa fa-eur"></i>
              <i class="fa fa-eur inactive"></i>
          </li>

          <li>
              <%= hidden_field_tag "shop_filter_settings[price_segment_high]", false %>
              <%= check_box_tag "shop_filter_settings[price_segment_high]", true, params[:shop_filter_settings][:price_segment_high] %>
              €€€
              <i class="fa fa-eur"></i>
              <i class="fa fa-eur"></i>
              <i class="fa fa-eur"></i>
          </li>
          
          <span class="divider"></span>
<!--           
          <li class="mark_all">Alle markieren</li>
          <li class="remove_all">Filter entfernen</li>

 -->          
          <li class="update"><%= submit_tag "Apply" %></li>
        </ul>
      </div>
    </li>
    
    
    <li class="language">
      <div id="dropdown_language" class="wrapper-dropdown" tabindex="3">
        <span>Sprachversionen</span>
        <ul class="dropdown">   

          <li>
            <%= hidden_field_tag "shop_filter_settings[locale_de_shop]", false %>
            <%= check_box_tag "shop_filter_settings[locale_de_shop]", true, params[:shop_filter_settings][:locale_de_shop] %>
            Deutscher Shop
          </li>
          
          <li>
            <%= hidden_field_tag "shop_filter_settings[locale_foreign_shop_de_website]", false %>
            <%= check_box_tag "shop_filter_settings[locale_foreign_shop_de_website]", true, params[:shop_filter_settings][:locale_foreign_shop_de_website] %>
            Englischsprachiger Shop mit deutscher Website
          </li>

          <li>
            <%= hidden_field_tag "shop_filter_settings[locale_foreign_shop_de_delivery]", false %>
            <%= check_box_tag "shop_filter_settings[locale_foreign_shop_de_delivery]", true, params[:shop_filter_settings][:locale_foreign_shop_de_delivery] %>
            Englischsprachiger Shop mit Versand nach Deutschland
          </li>

          <span class="divider"></span>
<!--           
          <li class="mark_all">Alle markieren</li>
          <li class="remove_all">Alle entfernen</li>
 -->
           <li class="update"><%= submit_tag "Apply" %></li>
        </ul>
     </div>
    </li>
    
    
    <li class="provider">
      <div id="dropdown_provider" class="wrapper-dropdown" tabindex="4">
        <span>Anbieter</span>
        <ul class="dropdown">

          <li>
            <%= hidden_field_tag "shop_filter_settings[brand_type_single]", false %>
            <%= check_box_tag "shop_filter_settings[brand_type_single]", true, params[:shop_filter_settings][:brand_type_single] %>
            Shop einer Marke
          </li>

          <li>
            <%= hidden_field_tag "shop_filter_settings[brand_type_multi]", false %>
            <%= check_box_tag "shop_filter_settings[brand_type_multi]", true, params[:shop_filter_settings][:brand_type_multi] %>
            Shop mit vielen Marken
          </li>
            
          <span class="divider"></span>
<!--           
          <li class="mark_all">Alle markieren</li>
          <li class="remove_all">Alle entfernen</li>

-->
          <li class="update"><%= submit_tag "Apply" %></li>
        </ul>
     </div>
    </li>

  </ul>
</section>
<% end %>