<% if !shop.insider_tip || user_session.logged_in? %>
<li class="shop <% if shop.insider_tip %>insider<% end %>">
  <!-- MARKED -->
 
  <% if shop.is_user_favorite(user_session.get_logged_in_user) %> 
    <div class="marked_badge">
          <i class="fa fa-heart"></i>
          <div class="triangle"></div>
    </div>
  <%end%>

  <!-- HOVER -->
  <div class="hover">
      <p class="shop_name"><%= shop.name %></p>
      <ul>
        <li class="icon_wrap">
          <div class="icon <% if !shop.price_segment_low %>inactive<% end %>"><i class="fa fa-eur"></i></div>
          <div class="icon <% if !shop.price_segment_middle %>inactive<% end %>"><i class="fa fa-eur"></i></div>
          <div class="icon <% if !shop.price_segment_high %>inactive<% end %>"><i class="fa fa-eur"></i></div>
        </li>
        <li>
          <%= shop.get_locale_string(); %>
        </li>
        <li>
          <%= shop.get_brand_type_string(); %>
        </li>
      </ul>
      <div class="buttons">
        <a href="http://<%= shop.site_url %>" target="_blank" class="button_white_outline shop_link">Zum Shop</a>
        <!--<a href="#" class="button_white_outline mark_link"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;Merken</a>-->
        <% if shop.is_user_favorite(user_session.get_logged_in_user) %> 
          <%= link_to(toggle_shop_favorite_path(shop), class: "button_white_outline mark_link marked", method: :post) do %>
            <i class="fa fa-heart"></i>&nbsp;&nbsp;Merken
          <% end %>
        <% else %>
          <%= link_to(toggle_shop_favorite_path(shop), class: "button_white_outline mark_link", method: :post) do %>
            <i class="fa fa-heart-o"></i>&nbsp;&nbsp;Merken
          <% end %>
        <% end% %>
<!--
        <a href=<%= url_for(toggle_shop_favorite_path(shop))%> class="button_white_outline mark_link <% if shop.is_user_favorite(user_session.get_logged_in_user) %>marked<% end %>">
          <i class="fa <% if shop.is_user_favorite(user_session.get_logged_in_user) %>fa-heart-o<% else %>fa-heart<% end %>"></i>
          &nbsp;&nbsp;Merken
        </a>
-->
        <!--<%= button_to "Merken", shop_favorites_path(shop_id: shop) %>-->
      </div>
  </div>
  <!-- BOX -->
  <p class="shop_name"><%= shop.name %></p>
  <p class="insider_tipp">Insidertipp</p>  
  <!-- INFO BLOCK -->
  <% if !shop.comment.blank? %>
    <div class="info">
      <div class="team_thumb team_member_3"></div>
      <div class="copy">
        <p class="text"><%= truncate(sanitize(shop.comment), length: 33) %></p>
        <p class="name">Empfehlung von <span class="bold">User XY</span></p>
      </div>
    </div>
  <% end %>  
  <div class="thumb">
    <div class="overlay"></div>
    <%= image_tag(shop.image_url(:thumb_tile).to_s, width: "255") %>
    <!--%= image_tag('shops/' + shop.image_url, class: 'shop_thumb') %>-->
    <!--%= image_tag "shops/shop_thumb_1.jpg" %> -->
    <!--img src="shops/shop_thumb_1.jpg"> -->
  </div>
</li>
<% end %>