<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Best Style Shops <%= controller.action_name %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render(partial: "shared/header") %>  
    <%= yield :header %>
  
</head>

<body class='<%= controller.controller_name %> cbp-spmenu-push'>

  <!--<h4>Request</h4><%= debug(request) %>-->
  <h4>Header</h4><%= debug(headers) %>
  <h4>Params</h4><%= debug(params) %>
  <h4>Stored Params</h4><%= debug(user_session.get_stored_params()) %>

  <%= yield :layout %>

  <%= render(partial: "navigation") %>  
  <%= render(partial: "shop_list") %>
  <%= render(partial: "shop_suggest") %>
  <%= render(partial: "team") %>

  <!-- <h4>Session</h4><%= debug(session) %> -->
  <!-- <h4>Response</h4><%= debug(response) %> -->
  
</body>

<%= render(partial: "shared/footer_scripts") %>
<%= render(partial: "shared/footer") %>
<%= yield :footer %>

</html>