<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Bss</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<%= yield :header %>
  
</head>

<body class='<%= controller.controller_name %> cbp-spmenu-push'>

  	<div id="container">

      <%= content_tag :h2, yield(:title) if show_title? %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield :layout %>
  		
   	</div>
</body>

<%= yield :footer %>

</html>